
.bg{
    background-color: #F6F2DB;
}
.heading1{
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 50px;
    padding-top: 60px;
    font-family: 'Poppins', sans-serif;

}
.heading1::after {
    content: '';
    width: 85%;
    height: 3px;
    background-color: red;
    display: block;
    transition: 0.5s;
    margin: auto;
    margin-top: 4px;
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
@media screen and (max-width: 480px) {
   img{
        max-width: 100%;
        height: auto;
    }
  }
@media screen and (max-width: 980px) {
    .hero{
        flex-direction: column-reverse;
    }
  }